<div class="top-user-menu">
    <div style="font-size:14px;line-height:40px;" ng-show="!currentUser.uid">
        <a ng-href="{{link.login}}" id="login" class="color-cyan pd-l20 ">
            <i class="image-login-user-ic"></i>马上登录
        </a>
        <span style="color:#ececec;margin:0 8px;"> | </span>
        <a ng-href="{{link.register}}" class="color-cyan">注册</a>
    </div>
    <div class="menber-link" ng-show="currentUser.uid">
        <a href="" class="u-info" rel="member_link">
            <img ng-hide="currentUser.avatar" src="/rcp-common/imgs/face/d-face-1.png" class="face-img" width="30" height="30" rel="user_face" alt="{{currentUser.nickName}}" />
            <img ng-show="currentUser.avatar" ng-src="{{currentUser.avatar}}" class="face-img" width="30" height="30" rel="user_face" alt="{{currentUser.nickName}}" />
            <span class="name" rel="user_name" title="{{currentUser.nickName}}" ng-bind="currentUser.nickName"></span>
            <i class="image-attestation-person" ng-class="{'attestation':attestation=='已认证'}"></i>
            <i class="image-arrow"></i>
        </a>
        <div class="u-panel">
            <!--<div class="upanel"></div>-->
            <div class="tup-box">
                <!--<div class="tup-info" rel="user_info_box">-->
                    <!--<div class="user-head" rel="user_face_box">-->
                        <!--<a ng-href="{{link.setting}}">-->
                            <!--<img ng-hide="currentUser.avatar" src="/rcp-common/imgs/face/d-face-1.png" width="96" height="96" class="face-img" rel="user_face" alt="{{currentUser.nickName}}" />-->
                            <!--<img ng-show="currentUser.avatar" ng-src="{{currentUser.avatar}}" width="96" height="96" class="face-img" rel="user_face" alt="{{currentUser.nickName}}" />-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="user-identity">-->
                        <!--<p class="user-name text-of">-->
                            <!--<a href="" rel="user_name" title="{{currentUser.nickName}}" ng-bind="currentUser.nickName"></a>-->
                        <!--</p>-->
                        <!--<p class="attestation-un" ng-class="{'attestation':attestation=='已认证'}">-->
                            <!--<i class="image-attestation-yellow"></i>-->
                            <!--<span>{{attestation}}</span>-->
                        <!--</p>-->
                        <!--&lt;!&ndash; <span class="mg-r15" rel="identity" ng-show="userData.identity">身份：{{userData.identity}}</span>-->
                        <!--<span class="mg-r15" rel="user_empiric">正在学习：12门课程</span>-->
                        <!--<span class="mg-r15" rel="user_empiric">经验：168</span> &ndash;&gt;-->
                    <!--</div>-->
                    <!--<div class="clear"></div>-->
                <!--</div>-->
                <div class="tup-operate">
                    <div class="card-sets">
                        <!--<a href="{{link.applySpaceUrl}}" class="key f-l">-->
                            <!--<i class="image-attestation"></i>-->
                            <!--<span class="text-4f">认证管理</span>-->
                        <!--</a>-->
                        <a href="{{link.setting}}" target="_blank" class="key">
                            <i class="image-personal-settings"></i>
                            <span>个人设置</span>
                            <i class="image-line"></i>
                        </a>
                    </div>
                    <div class="card-links">
                        <a ng-repeat="item in itemList" ng-href="{{item.href || ''}}" ng-class="item.name == '...' ? 'disabled key '+item.icon : 'key '+item.icon">
                            <i class="image-{{item.ic}}"></i>
                            <span>{{item.name}}</span>
                        </a>
                    </div>
                    <div class="card-exit">
                        <a href="" class="key" ng-click="logout()">
                            <i class="image-exit"></i>
                            <span>退出</span>
                            <i class="image-line"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
