<div class="study-circle">
    <div class="content-section">
        <h3 class="content-section-head-1">
            <a ng-href="{{goCircleTotal}}" target="_blank">学习圈子</a>
            <span>&gt; 圈子详情</span>
        </h3>
        <div class="content-section-body">
            <ul class="circle-detail circle-detail-1">
                <li class="inline">
                    <div class="user-info">
                        <img class="img-circle" src="{{rootInfo.avatar || '../study-circle/imgs/d-face-1.png'}}" alt="">
                    </div>
                    <div class="detail-1">
                        <div>
                            <p ng-bind="rootInfo.nickName"></p>
                        </div>
                        <div ng-bind-html="rootInfo.root.content | encodeHtml | emojiUnifiedToCss | html"></div>
                        <image-slider images="circleData.root.files.IMG" class="self-image-slider"></image-slider>
                        <p class="desc-1">
                            <span class="date" ng-bind="rootInfo.root.createTime| date:'MM-dd HH:mm'"></span>
                            <span ng-bind="rootInfo.root.count.readCount+'阅读'"></span>
                            <span class="vote">
                                <button ng-click="sendLike(rootInfo.root,true)">
                                    <i class="fa fa-thumbs-o-up" ng-show="rootInfo.root.isLiked" style="color:#fe8811"></i>
                                    <i class="fa fa-thumbs-o-up" ng-hide="rootInfo.root.isLiked"></i>
                                    <span ng-bind="rootInfo.root.count.likeCount">186</span>
                                </button>
                            <button><i class="fa fa-share-alt"></i> <span>分享</span></button>
                            </span>
                        </p>
                        <button ng-click="scoreTo('reply','relay-circle',false)">回复</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="reply-body">
            <div ng-bind="rootInfo.root.count.replyCount+'个回复'"></div>
            <div class="reply-list" ng-repeat="r in circleData.replys track by $index">
                <div class="user-info">
                    <img class="img-circle"  ng-src="{{usrList[r.ownerId].attrs.basic.avatar ||'../study-circle/imgs/d-face-1.png'}}" alt="">
                </div>
                <div class="reply-content">
                    <div class="header">
                        <div class="f-l">
                            <span ng-bind="usrList[r.ownerId].attrs.basic.nickName"></span>
                            <span ng-bind="(r.createTime| date:'MM-dd HH:mm')">11-18 19:33</span>
                        </div>
                        <div class="f-r" ng-click="sendLike(r,false,$index)" >
                            <button>
                                <i class="fa fa-thumbs-o-up" ng-show="r.isLiked" style="color: #fe8811;"></i>
                                <i class="fa fa-thumbs-o-up" ng-hide="r.isLiked" ></i>
                                <span>赞</span>
                            </button>
                            <span ng-bind="'（'+r.count.likeCount+'）'">（0）</span>
                        </div>
                    </div>
                    <div class="body">
                        <div ng-bind-html="r.content | encodeHtml | emojiUnifiedToCss | html"></div>
                        <div class="comment c" ng-click="scoreTo('','',true,r,$index);">
                            <span ng-bind="'评论（'+r.count.replyCount+'）'">评论（2）</span>
                        </div>
                    </div>
                    <div class="reply-orther">
                        <div class="content" ng-repeat="re in r.comments track by $index">
                            <div class="user-info">
                                <img class="img-circle"  ng-src="{{usrList[re.ownerId].attrs.basic.avatar ||'../study-circle/imgs/d-face-1.png'}}" alt="">
                            </div>
                            <div class="content-d">
                                <div>
                                    <span ng-bind="usrList[re.ownerId].attrs.basic.nickName">张同学</span>
                                    <span class="color-gray-1" ng-bind="re.createTime| date:'MM-dd HH:mm'"></span>
                                </div>
                                <div class="mg-t10">
                                    <span>回复<span class="at-teacher" ng-bind="'@'+usrList[r.ownerId].attrs.basic.nickName+'：'">@李老师</span>
                                    <span ng-bind-html="re.content | encodeHtml | emojiUnifiedToCss | html"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="content content-a" ng-show="r.showReply" id='personalReply-{{$index}}'>
                            <div class="textarea"  ng-init="r.replyContent=''">
                                <!--<dyeditor id="" style="background: white;border-color:#d9d9d9" model="r.replyContent" exceed="r.exceed" -->
                                          <!--config="{id:'reply-circle-'+$index,len:150,style:{minHeight:80,overflow:'auto'},placeholder:'请输入内容'}"></dyeditor>-->

                                <editor-with-emoji id="replyDiscussContent"
                                                   style="border: none;"
                                                   content="r.replyContent"
                                                   exceed="r.exceed"
                                                   config="{id:'reply-circle-'+$index,limit:150,style:{minHeight:80,overflow:'auto',background:'white'},placeholder:'请输入内容'}"></editor-with-emoji>
                            </div>
                            <button ng-click="sendReply(r,false)">回复</button>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="reply-content reply-edit" id="reply" ng-init="rootInfo.root.replyContent=''">
                <loader-ui show="!load.sendCircle" class="load-0"></loader-ui>
                <!--<dyeditor id="inputAnswer" style="background: white;border-color:#d9d9d9"-->
                          <!--model="rootInfo.root.replyContent" exceed="rootInfo.root.exceed"-->
                          <!--config="{id:'relay-circle',len:150,style:{minHeight:80,overflow:'auto'},placeholder:'请输入内容'}"></dyeditor>-->

                <editor-with-emoji id="inputAnswer"
                                   style="border: none;"
                                   content="rootInfo.root.replyContent"
                                   exceed="rootInfo.root.exceed"
                                   config="{id:'relay-circle',limit:150,style:{minHeight:80,overflow:'auto',background:'white'},placeholder:'请输入内容'}"></editor-with-emoji>
                <!--<div ng-show="uploadData.img.length" class="up-img">-->
                    <!--<div ng-repeat="img in uploadData.img track by $index">-->
                        <!--<img ng-src="{{img}}" alt="">-->
                        <!--<i class="fa fa-times" aria-hidden="true" ng-click="delImg($index)"></i>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="a">
                    <!--<a href="javascript:;" class="phiz" addface="circle.content" bindeditor="#relay-circle"><i class="fa fa-smile-o"></i></a>-->
                    <a href="javascript:;" class="phiz" ng-click="inputAnswerEmojiPickerShowed=!inputAnswerEmojiPickerShowed;$event.stopPropagation()"><i class="fa fa-smile-o"></i></a>
                    <!--<a href="javascript:;" class="picture" ng-click="uploader()"><i class="fa fa-picture-o"></i></a>-->
                    <!--<upload-img upload="uploadData" select-file="uploadImgSelect" class="swf-up-35"></upload-img>-->
                </div>
                <div class="b clearfix">
                    <button ng-click="sendReply(rootInfo.root,true)">回复</button>
                </div>
                <!-- 评论 表情选择框 -->
                <div style="position: relative;">
                    <editor-emoji-picker showed="inputAnswerEmojiPickerShowed"
                                         editor="'#inputAnswer'"
                                         style="top: -15px; left: 11px;"></editor-emoji-picker>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>

        </div>
        <pagination list="circleData.replys" style="margin:40px 0 0 0" pageargs="pageargs" pagefn="pagefn" deepwatch="true" class="page-bar jump-hide"></pagination>
    </div>
    </div>
</div>
