<div id="upload-img-{{uploadConfig.id}}" ng-show="uploadConfig.showEdit">

    <div class="cropper-tool imgCropTool" ng-show="uploadConfig.mode==='fixed'">
        <div class="cropper-tool-a">
            <div class="cropper-tool-b">
                <div class="up-header jf-drag">
                    <div class="f-l">上传图片</div>
                    <div class="f-r">
                        <a ng-click="cancelImg()" href="" class="close-panel">×</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="up-body">
                    <div class="show-tool f-l">
                        <div class="cropper-img-fixed" ng-style="containerStyle">
                            <img ng-src="{{newImg}}" alt="Picture" src="" />
                        </div>
                        <div id="img-view-{{uploadConfig.id}}" style="display:none;" class="img-view"></div>
                    </div>
                    <div class="show-line"></div>
                    <div class="show-pre f-l">
                        <div class="pd-20">
                            <span class="name-img">预览：</span>
                            <div class="img-preview"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div id="img-show-cover" class="loading" ng-show="upLoading">
                        <div class="cover-img" style="">
                            <img alt="loading..." src="../../rcp-common/imgs/loading1.gif" class="mg-r10" /> 上传中...
                        </div>
                    </div>
                </div>
                <div class="up-footer">
                    <div class="btn-grp">
                        <a ng-click="confirmImg()" class="confirm mg-r10">上传</a>
                        <a ng-click="cancelImg()" class="cancel mg-l10">取消</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="imgCropTool img-crop-tool" ng-show="uploadConfig.mode==='course'">
        <div ng-show="upLoading" class="loading-cover">
            <div class="cover-img">
                <img src="../../rcp-common/imgs/loading1.gif" class="mg-r10">上传中...
            </div>
        </div>
        <table>
            <tr>
                <td class="show-tool">
                    <div class="cropper-img-course">
                        <img ng-src="{{newImg}}" alt="Picture" src="">
                    </div>
                    <div id="img-view-{{uploadConfig.id}}" style="display:none;"></div>
                </td>
                <td class="show-pre">
                    <span class="name-img">封面预览：</span>
                    <div class="img-preview"></div>
                    <div class="btn-grp">
                        <a ng-click="confirmImg()" class="confirm">上传</a>
                        <a ng-click="cancelImg()" class="cancel">取消</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <input type="file" id="upload-input-{{uploadConfig.id}}" style="display:none;"/>
</div>